@model Domain.Core.Models.ProductosDTO

@{
    ViewData["Title"] = "Editar";
}


<div class="container-xl px-4 mt-4">
    <h1>Editar Producto</h1>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-12">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Producto #@Html.DisplayFor(model => model.No_Producto)</div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="No_Producto"></label>
                            <input class="form-control" asp-for="No_Producto">
                            <span asp-validation-for="No_Producto" class="text-danger"></span>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" asp-for="Nombre"></label>
                                <input class="form-control" asp-for="Nombre">
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" asp-for="Cantidad"></label>
                                <input class="form-control" asp-for="Cantidad">
                                <span asp-validation-for="Cantidad" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" asp-for="Codigo_Barras"></label>
                                <input class="form-control" asp-for="Codigo_Barras">
                                <span asp-validation-for="Codigo_Barras" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" asp-for="Precio"></label>
                                <input class="form-control" asp-for="Precio">
                                <span asp-validation-for="Precio" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Descripcion"></label>
                            <input class="form-control" asp-for="Descripcion">
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input type="submit" value="Editar Cliente" class="btn btn-primary" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <a asp-action="Index" class="btn btn-info float-right">Regresar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
